
.search {
  position: relative;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 0px;
}

body {
  background-color: #ddd;
}

.center  {
  text-align: center;
}

.navbar {
  text-align: center;
  .link {
    display: inline-block;
    margin: 5px;
  }
}

.title {
  text-align: center;
  color: black;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.user {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}

.form {
  text-align: center;
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  input {
    margin-bottom: 10px;
  }
  select {
    margin-bottom: 20px;
  }
}

h1 {
  text-align: center;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.form {
  input[type="text"], input[type="password"]{
    padding: 10px;
    width: 300px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
  }
  input[type="text"]:focus,
  input[type="text"].focus, input[type="password"]:focus{
    border-bottom: solid 2px rgb(0, 120, 231);
  }
  text-align: center;
  @include span-columns(12);
  @include omega;
  text-decoration: none;
  list-style: none;
}
input[type="text"], input[type="password"] {
  display: block;
  margin: auto;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
}

.hint {
  display: block;
  margin: 10px 0;
  color: grey;
}

.boolean {
  margin: 0 5px;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}

.button-warning {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(228, 4, 5); /* this is a green */
}


.tt-dataset {
  background-color: white;
  // @include linear-gradient(180deg, white, white, #ddd);
  box-shadow: 0px 2px 7px rgba(0,0,0,0.3);
  .tt-suggestion {
    padding: 5px;
    &:hover {
      background-color: rgb(0, 120, 231);
      color: white;
      cursor: pointer;
    }
  }

  .tt-cursor {
    background-color: rgb(0, 120, 231);
    color: white;
  }
}

.pure-menu-children {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.message {
  margin-bottom: 30px;
  .message-header {
    // font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 5px;
    border: 1px solid rgb(0, 120, 231);
    border-bottom-left-radius: 0px;
    background-color: rgb(0, 120, 231);
    color: white;
    border-bottom-right-radius: 0px;
    padding: 10px;
  }
  .message-body {
    border: 2px solid rgb(0, 120, 231);
    border-radius: 8px;
    background-color: white;
    color: black;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    position: relative;
    &:after {
      content:"";
      position:absolute;
      bottom:-13px; /* value = - border-top-width - border-bottom-width */
      left:48px; /* value = (:before left) + (:before border-left) - (:after border-left) */
      border-width:13px 13px 0;
      border-style:solid;
      border-color:#fff transparent;
      /* reduce the damage in FF3.0 */
      display:block;
      width:0;
    }
    &:before {
      content:"";
      position:absolute;
      bottom:-16px; /* value = - border-top-width - border-bottom-width */
      left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
      border-width:14px 14px 0;
      border-style:solid;
      border-color:rgb(0, 120, 231) transparent;
      /* reduce the damage in FF3.0 */
      display:block;
      width:0;
    }
  }
  @include span-columns(6);
  @include shift(3);
}
