// Place all the styles related to the onboarding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.example-tag {
  .tag-name {
    z-index: 100;
  }
  .tag-barcode {
    z-index: 90;
  }
  background-color: white;
  @include media(850px){
    @include span-columns(4);
    @include shift(4);
  }
  @include media(min-width 580px max-width 850px){
    @include span-columns(6);
    @include shift(3);
  }
  @include media(max-width 580px){
    @include span-columns(12);
  }
}

.tag {
  background-color: white;
}

.part-3,.part-4,.part-6, .part-7{
  display: none;
}

.messages .part-5 {
  display: none;
}

.messages .part-6 {
  display: none;
}

.part-2,.part-5 {
  opacity: 0;
}

.important {
  font-weight: bold;
}

.messages {
  height: 150px;
}

.title {
  .divider {
    color: lightgrey;
  }
  .important {
    color: rgb(0, 120, 231);
  }
}

.hover {
  @include transition(transform 0.2s);
  &:hover {
    cursor: pointer;
    @include transform(scale(1.1))
  }
}

.anatomy {
  display: none;
  background-color: white;
  color: white;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 230px;
  left: 0;
  text-align: center;
  background-color: rgb(0, 120, 231);
  .name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.cart-callout, .plus-callout, .tag-callout, .next-callout {
  font-weight: bold;
  color: rgb(0, 120, 231);
  cursor: pointer;
}

.con {
 display: none;
}

.congrats {
  height: 0;
  opacity: 0;
  color: red;
}

