// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//
.errors {
  position: relative;
  h4 {
    position: absolute;
    padding: 4px 0;
    margin: 0;
    top: 0;
    font-weight: normal;
    color: white;
    width: 100%;
    height: 25px;
    background-color: red;
  }
  text-align: center;
  margin: 0 auto;
  border: 1px red solid;
  background-color: white;
  padding: 0;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.container {
  @include outer-container;
  padding: 10px;
}

.tags-container {
  @include outer-container;
  padding: 10px;
}

.tag-left{
  float: left;
  position: relative;
  width: 50%;
  display: inline-block;
}

.tag-right{
  float: right;
  width: 50%;
  display: inline-block;
}

.row {
  width: 100%;
  text-align: center;
}

.tag {
  @include media(850px){
    @include span-columns(4);
    @include omega(3n);
  }
  @include media(min-width 580px max-width 850px){
    @include span-columns(6);
    @include omega(2n);
  }
  @include media(max-width 580px){
    @include span-columns(12);
    @include omega;
  }
}
.tag {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  // width: 345px;
  background-color: white;
  margin-bottom: 25px;
  padding: 10px;
  .manufacturer-name {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  .tag-name{
    text-align: center;
  }
  .tag-color{
    padding: 10px 0px;
    margin-bottom: 10px;
  }
  .tag-storage {
    font-size: 1.7em;
    margin-bottom: 10px;
  }
  .barcode {
    .tag-barcode {
    }
    .tag-model {
      position: relative;
      top: -10px;
    }
    text-align: center;
  }
}

.dark {
  color: white;
}

.barby-barcode tbody {
  display: block;
  position: relative;
  max-width: 50%;
  .on { 
    height: 40px;
    width: 0.5px;
    background-color: black;
  }
}
